header:nth-child(1) {
  background-color: black;
  color: white;
  font-weight: bold;
}

.img-nav {
  width: 3rem;
  height: 2.5rem;
  padding: 0rem;
}

.img-trash {
  width: 1rem;
  height: 1.25rem;
  padding: 0rem;
  color: black;
}

.nav-link {
  font-size: 1.3rem;
}

.balge {
  background-color: red;
  color: white;
  padding: 0 0.5rem;
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
}
.balge:hover {
  font-size: 1.25rem;
  color: black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem black;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem;
  text-shadow: 0 0 0.15rem black;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem black;
  color: white;
}

h5 {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.1rem black;
  color: red;
}

#total {
  color: black;
}

p {
  text-align: justify;
  color: black;
  font-size: 1.2rem;
}

/* El Modal (background) */
.modal-body {
  height: 50vh;
  width: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#lista-carrito {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.carritos-new {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
}

td {
  font-weight: lighter;
}

.jumbo {
  background-image: url(../img/jumbo/pesa-rusa.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: black;
}

section form button {
  background-color: red;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 0 0.1rem black;
}

.card-btnn {
  background-color: red;
  padding: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  border: none;
  text-shadow: 0 0 0.1rem black;
  margin: 1rem;
  font-size: 1rem;
}

footer {
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.form-inpus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem;
  width: 100%;
}

.form-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: red;
  padding: 2rem 0 0 0;
}
.form-terminos a {
  color: white;
  font-style: none;
}
.form-terminos p {
  padding-top: 1rem;
  color: white;
  font-size: 1rem;
}

.form-servicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  color: white;
  padding-bottom: 2rem;
}
.form-servicio a {
  color: white;
  text-decoration: none;
  font-style: none;
}
.form-servicio div {
  padding: 0 3rem;
  color: red;
}
.form-servicio div p {
  color: white;
}

.form-inpus input[type=email] {
  margin: 0rem 1.5rem;
  color: red;
  padding: 1rem 0.75rem;
  text-align: center;
  width: 40%;
  max-width: calc(100% - 3rem);
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.form-inpus input[type=email]:focus {
  transition: 1s;
  transform: scale(1.05);
}

.form-inpus input[type=submit] {
  width: 10%;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  border: 0.5rem solid red;
  color: white;
}

.form-terminos:nth-child(3) {
  color: blue;
}

#checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#checkbox p {
  padding-left: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
