header:nth-child(1) {
  background-color: #111;
  color: white;
  font-weight: bold;
}

.img-envio {
  width: 3rem;
  height: 2.5rem;
  padding: 0rem;
}

.img-nav {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
}

.img-nav-logo {
  color: red;
  font-size: 1rem;
  font-weight: lighter;
}
.img-nav-logo img {
  width: 4.75rem;
  height: 4.75rem;
  padding: 0rem;
}

.img-trash {
  width: 2rem;
  height: 2rem;
}

.nav-edit {
  background-color: white !important;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #111;
  margin: 0 0.125rem;
  background-color: white;
}

.balge {
  background-color: #111;
  border: solid #dcdcdc;
  color: white;
  padding: 0rem 0.75rem;
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: -0.5rem;
  margin-left: -1.75rem;
  transition: transform 1s;
}
.balge:hover {
  transform: scale(1.2);
}

.centrado {
  position: relative;
}

.form-modal {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  box-sizing: border-box;
  transition: 0.9s;
}

.in {
  background-color: #111;
  width: 25rem;
  height: 3rem;
  border: none;
  color: white;
  outline: none;
  font-size: 1rem !important;
  padding: 1.5rem;
  border-radius: 2rem 0 0 2rem;
}

.sub {
  position: relative;
  border-radius: 0 2rem 2rem 0;
  width: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  background-color: #111;
  color: white;
  font-size: 1rem !important;
  left: -5px;
}
.sub hover {
  background-color: aqua;
  color: aquamarine;
}

#parrafo-buscar {
  margin: 0 0 0.5rem;
  padding: 0;
  color: 0;
  font-size: 2rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 2.25rem;
  text-shadow: 0 0 0rem #111;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem #111;
  color: white;
}

h5 {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.1rem #111;
  color: red;
}

#total {
  color: black;
}

p {
  text-align: justify;
  color: #111;
  font-size: 1.2rem;
}

/* El Modal (background) */
#lista-carrito {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.carritos-new {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
}

.card-body p {
  background-color: #dcdcdc;
  padding: 0.25rem;
  width: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

td {
  font-weight: lighter;
}

#jumbo {
  background-image: url(../img/jumbo/pesa-rusa.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #111;
}

#btn-prod {
  background-color: red;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 0 0.1rem #111;
}

#h1 {
  font-size: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem #111;
  color: white;
  font-weight: bold;
  display: flex;
  align-self: center;
}

.medio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.medio p {
  padding: 0rem;
  margin: 0rem;
}

.h-medio {
  font-size: 3.25rem;
  padding-bottom: 3rem;
  text-shadow: 0 0 0rem #111;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-stock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-stock button {
  margin: 0 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  border: solid 0.15rem;
}
.menu-stock button:hover {
  background-color: #111;
  color: white;
}

.mensaje {
  background-color: black;
  color: white;
}

.vendido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ul-vendido {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.ul-vendido li {
  text-decoration: none;
  background-color: aqua;
  list-style: none;
}

.section-final {
  display: flex;
  margin: 15rem 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
}

.coleccion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 1.5s;
}

.boton-coleccion {
  display: none;
  position: relative;
  overflow: hidden;
  transition: 1.5s;
}

.card-btnn {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: red;
  padding: 0.5rem;
  color: white;
  border: none;
  text-shadow: 0 0 0.1rem #111;
  margin: 0.25rem;
  font-size: 1rem;
  max-width: 12rem;
  background-color: #111;
}
.card-btnn:hover {
  background-color: white;
  color: #111;
  border: 10px #111 !important;
}

footer {
  background-repeat: no-repeat;
  background-color: #111;
  background-size: cover;
}

.form-inpus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem;
  width: 100%;
}

.form-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: red;
  padding: 2rem 0 0 0;
}
.form-terminos a {
  color: white;
  font-style: none;
}
.form-terminos p {
  padding-top: 1rem;
  color: white;
  font-size: 1rem;
}

.form-servicio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  color: white;
}
.form-servicio a {
  display: block;
  color: white;
  text-decoration: none;
  font-style: none;
}
.form-servicio div {
  padding: 0 3rem;
  color: red;
  display: block;
  padding-bottom: 2rem;
}

.form-inpus input[type=email] {
  margin: 0rem 1.5rem;
  color: red;
  padding: 1rem 0.75rem;
  text-align: center;
  width: 40%;
  max-width: calc(100% - 3rem);
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.form-inpus input[type=email]:focus {
  transition: 1s;
  transform: scale(1.05);
}

.form-inpus input[type=submit] {
  width: 10%;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  border: 0.5rem solid red;
  color: white;
}

.form-terminos:nth-child(3) {
  color: blue;
}

#checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#checkbox p {
  padding-left: 0.5rem;
}

.img-foot-logo {
  width: 11.75rem;
  height: 11.75rem;
  padding: 0rem;
}

.nav-carro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 7rem;
}
.nav-carro a {
  text-decoration: none;
  color: #111;
}

.img-carro {
  height: 5rem;
  width: auto;
}

.carrito-vacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  color: white;
}
.carrito-vacio button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
  background-color: #111;
  color: white;
  border: solid 0.15rem;
}
.carrito-vacio button:hover {
  background-color: white;
  color: #111;
}

/*# sourceMappingURL=styles.css.map */
