header:nth-child(1) {
  background-color: #111;
  color: white;
  font-weight: bold;
}

.img-envio {
  width: 3rem;
  height: 2.5rem;
  padding: 0rem;
}

.img-nav {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0rem;
}

.img-nav-logo {
  color: red;
  font-size: 1rem;
  font-weight: lighter;
}

.img-nav-logo img {
  width: 4.75rem;
  height: 4.75rem;
  padding: 0rem;
}

.img-trash {
  width: 1rem;
  height: 1.25rem;
  padding: 0rem;
  color: #111;
}

.nav-edit {
  background-color: white !important;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #111;
  margin: 0 0.125rem;
  background-color: white;
}

.balge {
  background-color: red;
  color: white;
  padding: 0 0.5rem;
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  margin-top: -0.75rem;
  margin-left: -1rem;
}

.balge:hover {
  font-size: 1.25rem;
  color: #111;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 2.25rem;
  text-shadow: 0 0 0rem #111;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem #111;
  color: white;
}

h5 {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.1rem #111;
  color: red;
}

#total {
  color: black;
}

p {
  text-align: justify;
  color: #111;
  font-size: 1.2rem;
}

/* El Modal (background) */
.modal-body {
  height: 50vh;
  width: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#lista-carrito {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.carritos-new {
  display: block;
  color: black;
  position: absolute;
  z-index: 1;
}

td {
  font-weight: lighter;
}

.jumbo {
  background-image: url(../img/jumbo/pesa-rusa.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

#btn-prod {
  background-color: red;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 0 0.1rem #111;
}

#h1 {
  font-size: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-shadow: 0 0 0.5rem #111;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.card-btnn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: red;
  padding: 1rem;
  color: white;
  border: none;
  text-shadow: 0 0 0.1rem #111;
  margin: 1rem;
  font-size: 1rem;
  max-width: 12rem;
}

footer {
  background-repeat: no-repeat;
  background-color: #111;
  background-size: cover;
}

.form-inpus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0rem;
  width: 100%;
}

.form-terminos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: red;
  padding: 2rem 0 0 0;
}

.form-terminos a {
  color: white;
  font-style: none;
}

.form-terminos p {
  padding-top: 1rem;
  color: white;
  font-size: 1rem;
}

.form-servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

.form-servicio a {
  display: block;
  color: white;
  text-decoration: none;
  font-style: none;
}

.form-servicio div {
  padding: 0 3rem;
  color: red;
  display: block;
  padding-bottom: 2rem;
}

.form-inpus input[type="email"] {
  margin: 0rem 1.5rem;
  color: red;
  padding: 1rem 0.75rem;
  text-align: center;
  width: 40%;
  max-width: calc(100% - 3rem);
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.form-inpus input[type="email"]:focus {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form-inpus input[type="submit"] {
  width: 10%;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  border: 0.5rem solid red;
  color: white;
}

.form-terminos:nth-child(3) {
  color: blue;
}

#checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checkbox p {
  padding-left: 0.5rem;
}

.img-foot-logo {
  width: 11.75rem;
  height: 11.75rem;
  padding: 0rem;
}

.medio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.medio p {
  padding: 0rem;
  margin: 0rem;
}

.h-medio {
  font-size: 3.25rem;
  padding-bottom: 3rem;
  text-shadow: 0 0 0rem #111;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-stock button {
  margin: 0 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  border: solid 0.15rem;
}

.mensaje {
  background-color: black;
  color: white;
}

.vendido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-vendido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: aqua;
}

.ul-vendido li {
  text-decoration: none;
  background-color: aqua;
  list-style: none;
}
/*# sourceMappingURL=estilos.css.map */