@import '../base/variables';
.nav-carro {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
background-color: $color-3;
width: 100%;
min-height: 7rem;
a {
    text-decoration: none;
    color: $color-1;
}
}
.img-carro {
    height: 5rem;
    width: auto;
}
.carrito-vacio {
    display: flex;
    flex-direction: column;
     justify-content:center;
    align-items:center;
 
    height: 30rem;
    color: white;
    & button {
        margin-top: 4rem;
    
   
        padding: 1rem 4rem;
        border-radius: 2rem;
        background-color: $color-1;
        color: $color-3;
        border: solid 0.15rem; 
        &:hover {
            background-color: $color-3;
            color: $color-1;
        }
    }
}
.centrar {

  height: 8rem;
//   text-align: center;
//   margin-left: auto;
// margin-right: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-self: center;
}
.padre-img {
    position: relative;
    
  height: 8rem;
  width: auto;
}
.hijo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.total-price {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

}