@import '../base/variables';
.nav-carro {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
background-color: $color-3;
width: 100%;
min-height: 7rem;
a {
    text-decoration: none;
    color: $color-1;
}
}
.img-carro {
    height: 5rem;
    width: auto;
}
.carrito-vacio {
    display: flex;
    flex-direction: column;
     justify-content:center;
    align-items:center;
 
    height: 30rem;
    color: white;
    & button {
        margin-top: 4rem;
    
   
        padding: 1rem 4rem;
        border-radius: 2rem;
        background-color: $color-1;
        color: $color-3;
        border: solid 0.15rem; 
        &:hover {
            background-color: $color-3;
            color: $color-1;
        }
    }
}
.centrar {

  height: 8rem;

}
.padre-img {
    position: relative;
    
  height: 8rem;
  width: auto;
}
.hijo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.total-price {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

}
.img-size {
    width: 100%;
    height: 15rem;
}

/*------------------------*/
/* Tooltip container */
.tooltipp {
    position: relative;
    display: inline-block;
    font-weight: bold;

   /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltipp .tooltiptextt {
    visibility: hidden;
    width: 15rem;
    background-color:black;
    color: #fff;
    text-align:justify;
    padding: 1rem ;
    border-radius: 6px;
    font-weight: 400;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  font-size: 1rem;
    /* Fade in tooltip */
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltipp::after
{
  content: '?';

  background-color:  black;
  border-radius: 50%  ;
  padding: 0.15rem 0.5rem;
  border: 1px solid black;
  color: #fff;
  font-weight: bolder;
    margin-left: 00.25rem;
} 

.tooltipp .tooltiptextt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipp:hover .tooltiptextt {
    visibility: visible;
    opacity: 1;
  }

  .total-precio-cambio {
    
     background-color: $color-5 !important;
       color: $color-3;
       text-shadow: 0 0 0.1rem $color-1;
  }