@import '../base/variables';
.nav-carro {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
background-color: $color-3;
width: 100%;
min-height: 7rem;
a {
    text-decoration: none;
    color: $color-1;
}
}