@import '../base/variables';
footer {
  
//  background-image: url("/img/wave-haikei.svg");
 background-repeat: no-repeat;
 background-color: $color-1;
 background-size: cover;
}
.form-inpus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0rem;
    width: 100%;
   

  
}
.form-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;

  color: $color-2;
  padding: 2rem 0 0 0 ;
  a {
    color: $color-3;
   font-size: 1.25rem;
    font-style: none;
  }
  p {
    padding-top: 1rem;
    color: $color-3;
    font-size: 1rem
  };
  }
  .form-servicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 7rem;
      color: $color-3;
      
      a { display: block;
        color: $color-3;
        text-decoration: none;
        font-style: none;
        font-size: 0.8rem;
      }
    div {
      padding: 0 3rem;
      color: $color-2;
      display: block;
      padding-bottom: 2rem;
    }
  }
// Input TEXT, EMAIL 

 .form-inpus input[type="email"]  {
   margin: 0rem 1.5rem;
   color: $color-2;
   padding: 1rem 0.75rem;
   text-align: center;
   width: 40%;
   max-width: calc(100% - 3rem);
   outline: none;
   border: 0;
   text-transform: uppercase;
   font-size: 1rem;
   &:focus{
     transition: 1s;
     transform: scale(1.05);;
   }
 }
 
 .form-inpus input[type="submit"] {
  width: 10%;
  background-color: $color-2;
  text-align: center;
  text-transform: uppercase;
  border: 0.5rem solid $color-2;
  color: $color-3;
 
 }
 .form-terminos:nth-child(3) {
   color: blue;
 }
#checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
 p  {
  padding-left: 0.5rem;
  }
}
.img-foot-logo {
  width: 11.75rem;
  height: 11.75rem;
  padding: 0rem;
}
.footer-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  height: 5rem;
}
.footer-car2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5rem;
  width: 15%;
   a {

    color: $color-3 ;
    text-decoration: none;
    font-size: 0.75rem;
  }
  span {
    
  }
}
.footer-car1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5rem;
  color: $color-3;
  font-size: 0.75rem;
  width: 25%;
 
}