@import '../base/variables';

.jumbo {
    background-image:url(../img/jumbo/pesa-rusa.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
    width: auto;



    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items:center;
        
        color: $color-1;
            
     
      
         
     

        
      
        }
section {
    form {
        button {
            background-color: $color-2;
            padding: 1rem;
            color: $color-3;
            border-radius: 0.25rem ;
            // border: none;
            font-size: 1.3rem;
            font-weight: bold;
            text-shadow: 0 0 0.1rem $color-1;
           
        }
    }
}



