@import '../base/variables';

.jumbo {
    background-image:url(../img/jumbo/pesa-rusa.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
    width: auto;



    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items:center;
        
        color: $color-1;
            
     
      
         
     

        
      
        }        
            
            
            
            
 #btn-prod{
            //  display: block;
            background-color: $color-2;
            padding: 1rem;
            color: $color-3;
            border-radius: 0.25rem ;
            // border: none;
            font-size: 1.3rem;
            font-weight: bold;
            text-shadow: 0 0 0.1rem $color-1;
           
        }


#h1 {
	font-size: 3rem;
	padding-top: 0.5rem;
	padding-left: 0.3rem;
	text-shadow: 0 0 0.5rem $color-1;
	color:$color-3;	
   font-weight: bold;
   display: flex;
   align-self: center;
}