@import "../base/variables";

.medio { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5rem 0 ;
    p {
        padding: 0rem;
        margin: 0rem;
    }
}
.h-medio {
    font-size: 3.25rem;
	padding-bottom: 3rem;
	text-shadow: 0 0 0rem $color-1;
	color:$color-1;	
   font-weight: bold;
   text-transform:uppercase;


}
.menu-stock {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    button {
        margin: 0 1.25rem;
        padding: 1rem;
        border-radius: 0.25rem;
        background-color: $color-3;
        border: solid 0.15rem; 
        &:hover {
            background-color: $color-1;
            color: $color-3;
        }
    }
}
.mensaje {
    background-color: black;
    color: white;
}
.vendido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
 
}
.ul-vendido {
display:flex;
flex-direction: row;

background-color: aqua;
li {
text-decoration: none;
background-color: aqua;
list-style: none;
}
}


.title-up {
    font-size: 2rem;
    text-transform: uppercase;
    align-self: none;
    &:hover {
        cursor: pointer;
    }
    &::first-letter {
    font-size: 5rem;
    }
}
.title-down {
    font-size: 3em;
    text-transform: uppercase;
    align-self: flex-end;
    &::first-letter {
    font-size: 10rem;
    }
}

.grid-coleccion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 5rem;
    background-image: url("../../img/wave-haikei.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2rem;
  
    // background-color: ;
}
#cerrar-coleccion {
    margin-left: 50%;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: $color-1;
    color: $color-3;
    border: solid 0.15rem; 
    margin-bottom: 15rem;
    &:hover {
        background-color: $color-3;
        color: $color-1;
    }
}
#section-final {
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr ;
    gap: 1rem;
    background-color: $color-1;
    margin-bottom: 20rem;
    margin-top: 10rem;

}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen-fondo {
    background-image: url("../img/jumbo/coleccion.jpg");
    background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
     height: 42rem;
    //  width: 100%;
    display: flex;

      justify-content:center;
      align-self: center;
    &:hover {
    //    background-color: rgba($);
         opacity: 0.6;
         transition: all 3s ease;
    }
    button {
        //  display: flex;
    //      justify-self:end;
        opacity: 1;
       align-self:center;
         transition: 1.5s;
        // background-color: aqua;
          margin-top: -34.6rem;
          margin-left:0rem;
        font-size: 1.25rem;
        text-transform:uppercase;
        padding: 3rem  1rem 2rem;
        border-radius:  0rem;
        background-color:$color-1;
        color: $color-3;
        width: 100%;
        transition: all 2s;
      
        // font-weight:bolder;
        // color: $color-3;
        border: $color-1 solid 0.25rem; 
        &:hover {
            opacity: 1 !important;
            // opacity:none;
            // transition: 1.5s;
            cursor: pointer;
        }
    }
}
.boton-coleccion {
    display: none;
}
.open {
    display: none;
}
.no-encontrado {
  
    color: $color-1;
    font-size: 1.5rem;
    // background-color: $color-1;
    padding: 0.5rem;
    width: fit-content;
    // text-align: center;
    background-color: $color-5 !important;
    border-radius: 0.5rem 
}
.no-encontrado-h4 {

    color: $color-1;
    font-size: 2rem;

}
.select {

    position: relative;
    border: none;
    // width: 5rem;
    overflow: hidden;
    background-color: $color-3;
    // left: 25%;
    font-size: 1.25rem;
    text-align: center;
    display: inline;
    left: 35%;

  }
    
  .select::before {
      content: '';
      position: absolute;
      right: 5px;
      top: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.5rem 0.5rem 0 0.5rem;
      border-color:$color-3 transparent transparent transparent;
      z-index: 2;
      pointer-events: none;
  }
    
  .select select {
      padding: 0.25rem;
      margin: 1rem 0;
       width: 25%;
      border:none;
      border-radius: 0rem;
      box-shadow: none;
     background-color: transparent;
    background-color: $color-1;
      background-image: none;
      appearance: none;
      text-align: center;
      border: none;
      color: $color-3;
      
  }
  .card-cuerpo {
       border: $color-5 solid 0.25rem ;
       border-radius: 1rem 0 0;
  }
  .card-texto { 
      display: block;
      background-color:$color-5;
      border-radius: 0.5rem 0 0;
      padding: 0.5rem;
      color: $color-3;
      text-shadow: 0 0 0.1rem $color-1;
    //   border-top: 0.5rem solid $color-1;
    //   border-left: 0.5rem solid $color-1;

    

  }
  .card-lista {
   
    list-style: none;


  }